@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-1 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(50px, 50px); }
    100% { transform: translate(0, 0); }
}

@keyframes move-2 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-50px, -50px); }
    100% { transform: translate(0, 0); }
}

@keyframes move-3 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(50px, -50px); }
    100% { transform: translate(0, 0); }
}

.animate-move-1 {
    animation: move-1 6s ease-in-out infinite;
}

.animate-move-2 {
    animation: move-2 6s ease-in-out infinite;
}

.animate-move-3 {
    animation: move-3 6s ease-in-out infinite;
}


.sidebar-option{
    @apply text-slate-600 cursor-pointer select-none;
    @apply flex gap-x-2 items-center py-3 px-16 hover:text-orange-500 hover:bg-orange-50 hover:border-r-2 hover:border-r-orange-500 transition-[500ms];
}

.inputStylized{
    @apply border-b-4 py-2 px-3 outline-none focus:border-b-orange-400 focus:shadow-xl transition-[400ms];
}